* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    scroll-behavior: smooth;
}

.fox {
    margin-left: 20px;
    height: 70px;
}

.navbar {
    box-shadow: 0px 0px 30px black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    height: 75px;
}

.navList {
    padding: 20px;
    display: flex;
    list-style: none;
    gap: 70px;
    margin-right: 80px;
    font-size: 23px;
}

.main-heading {
    margin-left: 25px;
    display: flex;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.n-img {
    height: 70px;
}

.header {
    margin-top: 8px;
    margin-left: -12px;
    text-align: end;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 1px 1px 6px rgba(180, 166, 10, 0.858);
}

.footer {
    margin-top: 100px;
    color: white;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerText {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 40px;
    font-family: "Open Sans", sans-serif;
    color: red;
}

.textPara {
    display: flex;
    justify-content: center;
    margin-top: 17px;
    margin-left: 400px;
    margin-right: 350px;
    font-size: 1.2em;
    line-height: 1.8;
    font-family: "Open Sans", sans-serif;
}

.footerList {
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style: none;
    font-size: 36px;
    margin-top: 17px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.lastfooter {
    color: black;
    background-color: #0f0c29;
}

.lastList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    color: rgb(87, 86, 86);
    height: 50px;
    align-items: center;
}

.copyright {
    color: rgb(239, 245, 82);
    display: flex;
    justify-content: center;
    font-size: small;
    font-family: serif;
}

.line-border {
    border-bottom: 5px solid #e71313;
    margin: 5px 0;
}

.triangle {
    margin-bottom: 5px;
    height: 15px;
    width: 15px;
}

.food-image {
    height: 220px;
    width: 300px;
    border-radius: 20px;
}

.foodright {
    position: relative;
    height: 220px;
    width: 300px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}

.foodright:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(69, 68, 68, 0.521);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.3s linear 0s;
    opacity: 0;
}

.foodright:hover .overlay {
    opacity: 1;
}

span {
    color: white;
    font-size: 18px;
    font-family: Gilroy_Bold;
}

.food-left {
    display: flex;
    flex-direction: column;
}

.food-container {
    margin-top: 44px;
    display: flex;
}

.food-type {
    font-size: 30px;
    text-align: center;
}

.food-item {
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.food-name {
    font-size: 27px;
    font-family: Gilroy_Bold;
    margin-bottom: 4px;
    color: rgb(174, 99, 0);
}

.discount-tag {
    height: 20px;
}

.food-container {
    margin-left: 275px;
    margin-right: 275px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 30px black;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.food-price-container {
    margin-top: 4px;
    display: flex;
}

.food-price {
    margin-right: 8px;
    font-size: 22px;
    font-family: Gilroy;
    font-weight: 500;
}

.food-discount {
    font-size: smaller;
    margin-top: 4px;
    font-family: Gilroy;
    font-weight: 500;
    color: rgba(0, 5, 12, 0.671);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.food-description {
    margin-top: 10px;
    font-family: Gilroy;
    font-weight: 200;
    font-size: 17px;
    line-height: 19px;
    color: rgba(2, 6, 12, 0.6);
}

.food-btn {
    margin-top: 18px;
    height: 35px;
    width: 100px;
    color: rgb(0, 174, 0);
    font-size: large;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 3px rgba(81, 82, 82, 0.504);
    cursor: pointer;
}

.food-btn:hover {
    transform: scale(1.05);
}

.rating-container {
    display: flex;
    margin-top: 10px;
}

.rating-text {
    color: rgb(17, 102, 73);
    margin-bottom: 1px;
    margin-left: 1.5px;
    font-family: Gilroy_Bold;
    font-weight: 800;
    font-size: 16.5px;
    margin-right: 3px;
}

.green-star {
    height: 17px;
}

.rating-number {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 5, 12, 0.6);
}
main{
    display: flex;
    flex-direction: column;
   align-items: center;
}

.buttons-container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.btn-tab {
    padding: 6px 7px;
    border-radius: 8px;
    border: 2px solid #b08f0c;
    outline: none;
    background-color: #ffffff;
    color: rgb(174, 99, 0);
    font-weight: 500;
    font-size: medium;
    transition: transform 0.3s ease;
}

.btn-tab:hover {
    border: 2px solid #f96916;
    color: #f96916;
    cursor: pointer;
    transform: scale(1.05);
}

.biryani, .noodles, .icecreams, .pizzas, .shakes {
    display: none;
}

.biryani.active, .noodles.active, .icecreams.active, .pizzas.active, .shakes.active {
    display: block;
}

/* Responsive Styles */
@media (min-width: 1020px) {
    .food-container{
        width: 65%;
    }
    .buttons-container{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        justify-content: center;
    }
    main{
        display: flex;
        justify-content: center;
    }
}



@media (max-width: 1020px) {
    .navbar {
        height: auto;
        display: flex;
        /* flex-direction: column; */
    }

    .navList {
        margin-left: 10%;
        font-size: 16px;
    }

    .header {
        font-size: 22px;
        margin-left: -9px;
        margin-top: 14px;
    }

    .footerText {
        font-size: 20px;
    }
    .fox{
        margin-left: auto;
        height:55px;
    }
    .n-img{
        height: 45px;
    }
    .textPara {
        font-size: 0.9em;
        margin-left: 10px;
        margin-right: 10px;
    }

    .footerList {
        font-size: 20px;
    }
    .buttons-container{
        display: flex;
        flex-wrap: wrap;
       
        gap:5px;
        width: 40%;
        justify-content: space-between;
    }
    .food-name {
        font-size: 18px;
    }

    .food-description {
        font-size: 14px;
    }

    .food-btn {
        width: 80px;
        font-size: 14px;
    }
} 

@media (max-width: 610px) {
    .food-item{
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar {
        height: auto;
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }

    .navList {
        display: flex;
        flex-direction: column;
        /* margin-left: 200px; */
        font-size: 16px;
        gap: 5px;
    }
    .buttons-container{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        justify-content: center;
    }
    .btn-tab{
    padding: 3px 4px;
    border-radius: 6px;
    font-size: small;
    }
    .header {
        font-size: 22px;
        margin-left: -9px;
        margin-top: 14px;
    }

    .footerText {
        font-size: 20px;
    }
    .fox{
        height:55px;
    }
    .n-img{
        height: 45px;
    }
    .textPara {
        font-size: 0.9em;
    }

    .footerList {
        font-size: 20px;
    }

    .food-name {
        font-size: 18px;
    }

    .food-description {
        font-size: 14px;
    }

    .food-btn {
        width: 80px;
        font-size: 14px;
    }
} 

